.hero {
  height: 34vw;
  margin: 30px auto;
  background: url('./header_img.png') no-repeat;
  position: relative;
  background-size: contain;

  .whatsapp {
    position: absolute;
    gap: 20px;
    bottom: 7%;
    right: 6vw;
    color: white;
    font-size: 1.5rem;
    animation: fadeIn 2s;
  }

  .hero-contents {
    position: absolute;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    bottom: 25%;
    left: 6vw;
    color: white;
    animation: fadeIn 1s;

    h2 {
      font-size: max(4.5vw, 22px);
      font-weight: 600;
    }

    p {
      font-size: 1vw;
      font-weight: 400;
      margin-bottom: 5px;
    }

    a {
      color: orangered;
    }

    button {
      background-color: white;
      border: none;
      color: orangered;
      font-size: 16px;
      padding: 15px 25px;
      font-family: poppins, sans-serif;
      border-radius: 50px;
      cursor: pointer;
    }
  }
}


@media (max-width: 500px) {
  body {
    position: relative;
  }

  .hero {
    height: 0vw;

    .whatsapp {
      display: none;
    }

    .hero-contents {
      position: absolute;
      gap: 20px;
      top: 0;
      margin-top: 50px;
      
      h2 {
        color: orangered;
        font-size: 40px;
      }

      p {
        font-size: 13px;
      }

      a {
        color: white;
      }
      
      button {
        background-color: orangered;
        color: #fff;
        font-size: 14px;
        padding: 10px 20px;
      }
    }
  }
}